{
  "env": {
    "development": {
      "presets": [
        "env"
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [">1%", "last 2 versions"],
            "node": 6
          },
          "modules": false
        }]
      ],
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
